<div >
  <nav class="navbar navbar-light">
    <div class="navbar navbar-nav">

      <div class="links-t">
        <%= link_to "Sign in", '#',:class => "nav-item nav-link active links-t" %>
        <%= link_to "Sign up", '#',:class => "nav-item nav-link " %>
      </div>


    </div>
  </nav>
  <section class="container">


    <div class="row">
      <div class="col-lg-6">
        <h2 class="header-text">Welcome to Twitter</h2>
       <div  >
         <p id="introductory-text" class="black-text">Connect with your friends — and other
           fascinating people.
           Get in-the-moment updates on the things that
           interest you. And watch events unfold, in real time,
           from every angle.</p>
       </div>
      </div>
      <div>
      <div class="col-lg-6">


        <div id="sign-up-form" class="card card-block  card-inverse form form-group">
          <div >
            <p id="sign-up-form-text">Sign up with Twitter</p>
          </div>
          <%= form_for(@user) do |f| %>
               <%= render '/shared/error_messages' %>

              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>

              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %>

              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>

              <%= f.label :password_confirmation, "Confirmation" %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>

              <%= f.submit "Create my account", class: "btn btn-primary sign-up-btn" %>
          <% end %>
          </div>


      </div>

    </div>
</div>
  </section>
<section>
  <nav class="navbar navbar-fixed-bottom navbar-light bg-faded">
    <a class="navbar-brand" href="#">Jobs</a>
    <a class="navbar-brand" href="#">Contact us </a>
    <a class="navbar-brand" href="#">Help</a>
  </nav>
</section>
</div>