<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag "/stylesheets/bootstrap.min", media: "all" %>
  <%= stylesheet_link_tag "/stylesheets/application_home" %>
  <%= stylesheet_link_tag "/stylesheets/home" %>
  <%= javascript_include_tag "/javascripts/bootstrap.min" %>
  <%= stylesheet_link_tag "/stylesheets/new-page" %>

</head>

<body >

<div >
  <%= yield %>
</div>
</body>
</html>